



<div class="m-4 pr-4 pl-4">
  <%= simple_form_for @restaurant do |f| %>

    <%= f.input :name %>
    <%= f.input :address %>

    <%= f.input :category, collection: Restaurant::CATEGORIES  %>
    <%= f.input :phone_number %>
    <%= f.button :submit, class: "btn btn-primary" %>

  <% end %>

</div>
